<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block styles %}
    {% endblock %}
</head>
<body>

    <div id="navbar">
    {% if user.is_authenticated %}
        <a href="/mytimesheet">Minha Folha</a> | <a href="/logout">Sair</a>
    {% else %}
        <a href="/login">Entrar</a> | <a href="/registration">Cadastrar</a>
    {% endif %}
    </div>

    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>