<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Folha de Ponto</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    {% block styles %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>
<body id="home">
    <div class="ui inverted masthead segment">
        <div class="ui page grid">
            <div class="column">

                <!-- main menu -->
                <div class="ui inverted red menu">
                    <div class="header item">FDP - Folha de Ponto</div>
                    <div class="right menu">
                        <div class="ui mobile dropdown link item">
                            Menu
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% if user.is_authenticated %}
                                    <div class="header item">Bem vindo {{ user.username }}</div>
                                    <a href="/mytimesheet" class="item">Minha Folha</a>
                                    <a href="/accounts/logout" class="item">Sair</a>
                                {% else %}
                                    <a href="/accounts/login" class="item">Entrar</a>
                                    <a href="/accounts/registration" class="item">Cadastrar</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="header item">Bem vindo {{ user.username }}</div>
                            <a href="/mytimesheet" class="item">Minha Folha</a>
                            <a href="/accounts/logout" class="item">Sair</a>
                        {% else %}
                            <a href="/accounts/login" class="item">Entrar</a>
                            <a href="/accounts/registration" class="item">Cadastrar</a>
                        {% endif %}
                    </div>
                </div>
                <!-- end main menu -->

            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>