{% extends "base.html" %}

{% block content %}

<div class="ui page grid main">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui large message">
                <h1 class="ui header">Registro de Ponto</h1>
                <div class="ui form small">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a href="/mytimesheet" class="ui small button">Voltar</a>
                        <input type="submit" value="Gravar" class="ui small blue button submit" >
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}