{% extends "base.html" %}

{% block content %}

<div class="ui page grid main">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui large message">
                <h1 class="ui header">Cadastro</h1>
                {% if registered %}
                    <p>
                        Registro efetuado com sucesso <br />
                        <a href="/mytimesheet">Minha Folha</a>
                    </p>
                {% else %}
                    <p>Cadastre-se aqui para utilizar a folha de ponto.</p>
                    <div class="ui form small">
                        <form action="/accounts/registration/" method="post" id="user_form">
                            {% csrf_token %}
                            {{ user_form.as_p }}
                            <input type="submit" name="submit" value="Gravar" class="ui small blue button submit" />
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}