{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="column">
        <h3 class="ui header"><small>Folha de ponto de</small><br>{{ user.first_name }} {{ user.last_name }}</h3>
        <div class="ui divider"></div>
    </div>
</div>

<div class="row">
    <div class="column">
        <a href="/registro/novo" class="ui blue button">Novo registro</a>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="ui six column grid center aligned">
            {% for reg in registros %}
                {% ifchanged %}
                    <!-- close six column --></div>
                    <h4 class="ui header center aligned">{{ reg.registro|date:"d/m/Y" }}</h4>
                    <div class="ui divider"></div>
                    <!-- reopen six column -->
                    <div class="ui six column grid center aligned">
                {% endifchanged %}
                <div class="column panel">
                    <div class="ui secondary top purple attached segment right aligned">
                        <a href="/registro/remove/{{reg.id}}"><i class="remove icon"></i></a>
                    </div>
                    <div class="ui bottom attached segment center aligned">
                        <a href="/registro/edit/{{reg.id}}">{{ reg.registro|date:"H:i" }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}