{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="column">
        <h3 class="ui header"><small>Folha de ponto de</small><br>{{ user.first_name }} {{ user.last_name }}</h3>
        <div class="ui divider"></div>
    </div>
</div>

<div class="row">
    <div class="column">
        <a href="/registro/novo" class="ui blue button">Novo registro</a>
    </div>
</div>

<div class="row">
    <div class="column message" id="dashboard">
        {% for reg_day, registros in dashboard.iteritems %}
            <div class="ui message">
                <h4 class="ui header aligned">
                    {{ reg_day }}
                    <br>
                    <small>
                        {% for status_day, reg_status in status.iteritems %}
                            {% if status_day == reg_day %}
                                {{ reg_status }}
                            {% endif %}
                        {% endfor %}
                    </small>
                </h4>
                <div class="ui divider"></div>
                <div class="ui six column grid center aligned">
                    {% for reg in registros %}
                        <div class="column panel">
                            <div class="ui secondary top purple attached segment right aligned">
                                <a href="/registro/remove/{{reg.id}}"><i class="remove icon"></i></a>
                            </div>
                            <div class="ui bottom attached segment center aligned">
                                <a href="/registro/edit/{{reg.id}}">{{ reg.registro|date:"H:i" }} <i class="edit icon"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <div class="ui message center aligned">
                <h4 class="ui header center aligned">Nenhum registro de ponto por enquanto.</h4>
            </div>
        {% endfor %}
        <div class="ui info small message">
            <div class="header">
            Estimativas dos pontos
            </div>
            <ul class="list">
                <li>As estimativas de saída e retornos de refeições são calculadas utilizando 8h de trabalho (regime CLT) como uma jornada.</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}